.comparisonTable {
	$self: &;

	width: 100%;
	border-collapse: collapse;
	font-size: 0.9rem;
	padding: 1rem 1rem 2rem;
	margin: 0 0 1rem 0;
	border: 1px solid $colorPanelBorder;
	background: $colorPanel;
	border-radius: $sizeCornerRounding;

	td {
		padding: 0.5em;
	}

	&-header {
		width: 25%;
	}

	&__main {
		width: 100%;
	}

	&__feature {
		text-align: left;


		&-headline {
			font-weight: 800;
			font-size: 1rem;
		}

		&-text {
			font-size: 0.8rem;
			color: $colorGray;
		}
	}

	&__cell {
		text-align: center;

		&--first {
			text-align: left;
		}

		&--group {
			width: 7rem;

			@include mq($until: xs) {
				width: 3rem;
			}

			@include mq($from: md) {
				width: 9rem;
			}

			@include mq($from: lg) {
				width: 12rem;
			}
		}

		&--feature {
			color: $colorGrayDark;
			font-weight: 800;
			opacity: 0.7;
		}
	}

	&__row {
		text-align: center;
		border-bottom: 1px solid $colorGrayDimmed;

		&:last-child,
		&--no-border {
			border-bottom: 0;
		}

		&--dimmed {
			#{$self}__feature {
				opacity: 0.5;
			}

			#{$self}__cell--feature {
				opacity: 0.25;
			}
		}

		&--header {
			border-bottom: 0;

			#{$self}__group {
				margin-bottom: 0.5rem;
			}
		}

		&--price {
			padding: 0.5rem 0 0.5rem;
			border-bottom: 0;
		}
	}

	&__coming {
		font-size: 0.7rem;
		color: $colorWhite;
		background: $colorGray;
		padding: 0.1rem 0.5rem;
		margin: 0 0 0.3rem 0;
		display: inline-block;
		border-radius: 0.15rem;
	}

	&__group {
		border-radius: $sizeCornerRounding;
		padding: 0.3rem 0;
		margin: 0 0.4rem;
		font-size: 1rem;
		color: $colorWhite;
		font-weight: 800;
		cursor: pointer;
	}

	&__pricing {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__price {
		$self: &;

		margin: 0.3rem 0 0.2rem 0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		font-weight: 800;
		color: $colorBrand;

		&-number {
			font-size: 1.3rem;
		}

		&-text {
			font-size: 1.3rem;
		}

		&-currency {
			margin: 0.25rem 0 0 0.2rem;
			font-size: 0.9rem;
		}

		&--old {
			opacity: 0.4;
			color: $colorGrayDark;
			font-weight: 400;
			margin-top: 0;
			font-size: 0.8rem;

			#{$self}-number {
				font-size: 0.8rem;
				text-decoration: line-through;
			}

			#{$self}-currency {
				margin: 0.15rem 0 0 0.2rem;
				font-size: 0.6rem;
			}
		}
	}

	&__price-label {
		margin: 0.5rem 0 0;
		font-size: 1.2rem;
		color: $colorBrand;
	}

	&__price-period {
		margin: 0.4rem 0 0 0.4rem;
		font-size: 0.9rem;
		font-weight: 400;
		color: $colorGray;
	}
}
