.comparison {
	text-align: center;

	&__switcher-info {
		color: $colorGray;
		font-size: 0.9rem;
		margin-bottom: 1.5rem;
		font-style: italic;
	}
}

.comparisonItem {
	padding: 1rem 1rem 2rem;
	margin: 0 0 1rem 0;
	border: 1px solid $colorPanelBorder;
	background: $colorPanel;
	border-radius: $sizeCornerRounding;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	@include transition-ui-fast();
	box-shadow: none;

	&:hover {
		background: $colorWhite;
		box-shadow: 0 5px 15px transparentize($colorGray, 0.8);
	}

	&__header {
		border-radius: $sizeCornerRounding;
		padding: 0.3rem;
		font-size: 2rem;
		color: $colorWhite;
		font-weight: 800;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 2.3rem;
		padding: 0.3rem 0 0 0;
	}

	&__pricing {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 12rem;
	}

	&__price {
		$self: &;

		margin-right: -0.1rem;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		font-weight: 800;
		color: $colorBrand;

		&-number {
			font-size: 3rem;
		}

		&-text {
			font-size: 2rem;
		}

		&-currency {
			margin: 0.7rem 0 0 0.2rem;
			font-size: 1.5rem;
		}

		&--old {
			opacity: 0.4;
			color: $colorGrayDark;
			font-weight: 400;
			margin-top: -0.4rem;
			font-size: 0.8rem;

			#{$self}-number {
				font-size: 0.8rem;
				text-decoration: line-through;
			}

			#{$self}-currency {
				margin: 0.15rem 0 0 0.2rem;
				font-size: 0.6rem;
			}
		}
	}

	&__price-label {
		margin: 0.5rem 0 0;
		font-size: 1.2rem;
		color: $colorBrand;
	}

	&__price-period {
		margin: 0.5rem 0 0;
		font-size: 1.2rem;
		color: $colorGray;
	}

	&__description {
		border-top: 1px solid $colorGrayDimmed;
		padding: 1rem;
		margin: 0 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 10rem;
		flex-grow: 1;
		font-size: 0.9rem;
	}
}
